TARGET_PHONE=905394884031
GOOGLE_CLIENT_EMAIL=villa-botwebsite@villa-website-booking-system.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
OWNER_EMAIL=ваш_основной_email@gmail.com
GOOGLE_SHEETS_SPREADSHEET_ID=1WVhHi-OsMhXWf60Td31Rd-ZVqXNLukiflkd96fhzQKc
GOOGLE_DRIVE_MEDIA_FOLDER_ID=1hD74VdUg4b0p_8Nhfvg0TnDSmOKU8bLm
GOOGLE_DRIVE_IMPORT_FOLDER_ID=1Vui_1npdrfwc7fZqGLlBYB__I98TUD2W
